<footer id="footer" class="bg-black">
    <div class="container-fluid">
      <div class="row d-flex flex-wrap justify-content-between my-5 py-5">
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-001">
            <div class="footer-intro mb-4">
              <a href="index">
                <img src=" images/logo.svg" alt="logo">
              </a>
            </div>
            <p> Es una tienda especializada en productos electrónicos y tecnológicos de última generación. Nos dedicamos a ofrecer una amplia gama de dispositivos.</p>
            <div class="social-links">
              <ul class="list-unstyled d-flex flex-wrap gap-3">
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Enlaces rápidos</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="index" class="item-anchor">Inicio</a>
              </li>
              <li class="menu-item">
                <a href="shop-four-column-wide" class="item-anchor">Sobre nosotros</a>
              </li>
              <li class="menu-item">
                <a href="blog" class="item-anchor">Servicios</a>
              </li>
              <li class="menu-item">
                <a href="styles" class="item-anchor">Producto</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Acerca de</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="index" class="item-anchor">Como funciona</a>
              </li>
              <li class="menu-item">
                <a href="shop-four-column-wide" class="item-anchor">Acerca</a>
              </li>
              <li class="menu-item">
                <a href="blog" class="item-anchor">NUestros paquetes</a>
              </li>
              <li class="menu-item">
                <a href="styles" class="item-anchor">Promociones</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Referenciar a mis amigos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-003">
            <h5 class="widget-title mb-4">Ayuda & Información</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">Seguimiento de pedido</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Devoluciones + Cambios</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Envío + Delivery</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contactate con nosotros</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Encuéntranos fácilmente</a>
              </li>
              <li class="menu-item">
                <a href="faqs" class="item-anchor">Preguntas frecuentes</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-004 border-animation-left">
            <h5 class="widget-title mb-4">Contactate con nosotros</h5>
            <p>¿Tiene alguna pregunta o sugerencia? <a href="mailto:contact@yourcompany.com" class="item-anchor">contacto@suempresa.com</a></p>
            <p>¿Necesitas ayuda? Llámanos.<a href="tel:+43 720 11 52 78" class="item-anchor"> +51 987 654 321</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>